apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-uitest1
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Backstage-IDP-PoC/k8s-manifest.git
    targetRevision: main
    path: apps/argocd-uitest1
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true